:root {
  --border-radius: 5px;
  --border-width: 3px;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Comic Sans MS';
}

body {
  height: 100vh;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #111;
}

input[type='color'] {
  width: 100px;
  height: 100px;
  border: solid var(--border-width);
  border-radius: var(--border-radius);
  background: none;
  cursor: pointer;
  transition-duration: 0.4s;
  padding: 0;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type='color']::-webkit-color-swatch {
  border-radius: 0;
  border: none;
  padding: 0;
}

.game {
  background-color: #fff;
  border-radius: var(--border-radius);
  padding: 30px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  .color {
    width: 300px;
    height: 300px;
    border-radius: var(--border-radius);
    background-color: red;
    border: solid var(--border-width);
  }

  .guess {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .guess-color {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    p {
      position: absolute;
      color: #fff;
      mix-blend-mode: difference;
      pointer-events: none;
      font-size: 40px;
      visibility: hidden;
    }

    button {
      height: 100px;
      background-color: #111;
      padding: 0 40px;
      font-size: 25px;
      border-radius: var(--border-radius);
      cursor: pointer;
      color: #fff;
      border: solid var(--border-width) #111;

      span {
        display: none;
      }
    }

    button:hover {
      color: #111;
      background-color: #fff;

      span {
        position: absolute;
        font-size: 30px;
        top: 25px;
        display: inline;
      }
    }
  }

  .guess-color:hover {
    p {
      visibility: visible;
    }
  }
}
