:root {
  --border-radius: 4px;
  --border-width: 5px;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Comic Sans MS';
  font-weight: normal;
}

body {
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #111;
}

input[type='color'] {
  width: 100px;
  height: 100px;
  border: solid var(--border-width);
  border-radius: var(--border-radius);
  background: none;
  cursor: pointer;
  transition-duration: 0.4s;
  padding: 0;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type='color']::-webkit-color-swatch {
  border-radius: 0;
  border: none;
  padding: 0;
}

.game {
  background-color: #fff;
  border: solid var(--border-width);
  border-radius: var(--border-radius);
  padding: 20px 35px 30px 35px;

  display: flex;
  flex-direction: column;
  gap: 15px;

  .color {
    width: 350px;
    height: 350px;
    border-radius: var(--border-radius);
    background-color: red;
    border: solid var(--border-width);
    display: grid;
    place-items: center;

    p {
      font-size: 40px;
      color: #fff;
      mix-blend-mode: difference;
    }
  }

  .guess {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .guess-color-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        color: #000;
        font-size: 20px;
        margin-bottom: 1px;
      }
    }

    .guess-color {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        position: absolute;
        color: #fff;
        mix-blend-mode: difference;
        pointer-events: none;
        font-size: 50px;
        visibility: hidden;
      }
    }

    button {
      height: 100px;
      background-color: #111;
      padding: 0 60px;
      font-size: 25px;
      border-radius: var(--border-radius);
      cursor: pointer;
      color: #fff;
      border: solid var(--border-width) #111;

      span {
        display: none;
      }
    }

    .guess-button-container {
      button:hover {
        color: #111;
        background-color: #fff;

        span {
          position: absolute;
          font-size: 30px;
          top: 25px;
          display: inline;
        }
      }

      .checks {
        display: flex;

        .check {
          width: 30px;
          height: 30px;
          background-color: red;
          border-radius: var(--border-radius);
          border: solid var(--border-width);
        }
      }
    }
  }

  .guess-color:hover {
    p {
      visibility: visible;
    }
  }
}
